@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto-light.woff2') format('woff2'), url('../fonts/roboto-light.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/roboto-black.woff2') format('woff2'), url('../fonts/roboto-black.woff') format('woff');
}
@font-face {
  font-family: 'Playfair Display';
  font-weight: normal;
  font-style: normal;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url('../fonts/playfairdisplay-regular.woff2') format('woff2'), url('../fonts/playfairdisplay-regular.woff') format('woff');
}
@font-face {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-style: normal;
  src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url('../fonts/playfairdisplay-bold.woff2') format('woff2'), url('../fonts/playfairdisplay-bold.woff') format('woff');
}
@font-face {
  font-family: 'Playfair Display';
  font-weight: 900;
  font-style: normal;
  src: local('Playfair Display Black'), local('PlayfairDisplay-Black'), url('../fonts/playfairdisplay-black.woff2') format('woff2'), url('../fonts/playfairdisplay-black.woff') format('woff');
}
@font-face {
  font-family: 'Hammersmith One';
  font-weight: 400;
  font-style: normal;
  src: local('Hammersmith One'), local('HammersmithOne'), url('../fonts/hammersmithone-regular.woff2') format('woff2'), url('../fonts/hammersmithone-regular.woff') format('woff');
}
/*Layouts*/
/*Colors*/
/*Fonts*/
/*Other*/
html.lb-disable-scrolling {
  overflow: hidden;
  /* Position fixed required for iOS. Just putting overflow: hidden; on the body is not enough. */
  position: fixed;
  height: 100vh;
  width: 100vw;
}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  /* Image border */
  border: 4px solid #09052f;
}
.lightbox a img {
  border: none;
}
.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  /* Background color behind image.
     This is visible during transitions. */
  background-color: #09052f;
}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.lb-container > .nav {
  left: 0;
}
.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}
.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/left-chevron.svg) 5% 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.6s;
}
html .lb-nav a.lb-prev {
  background-size: 35px;
}
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-nav a.lb-next {
  width: 66%;
  right: 0;
  float: right;
  background: url(../img/right-chevron.svg) 95% 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.6s;
}
html .lb-nav a.lb-next {
  background-size: 35px;
}
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-data {
  padding: 0 4px;
  color: #ccc;
}
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
.lb-data .lb-caption a {
  color: #4ae;
}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close-button.svg) top right no-repeat;
  background-size: 100%;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0!important;
  font: inherit;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
.owl-carousel .animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  transition: height 0.5s ease-in-out;
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  background-color: #ffffff;
  color: rgba(65, 61, 75, 0.75);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.centered {
  margin: 0 auto;
}
.mobile-only {
  display: none;
}
@media only screen and (max-width: 960px) {
  html .desktop-only {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-margin {
    margin-bottom: 30px;
  }
  .mobile-only {
    display: block;
  }
}
/*Free host styles*/
[style="text-align:right;position:fixed;bottom:3px;right:3px;width:100%;z-index:999999;cursor:pointer;line-height:0;display:block;"] {
  display: none !important;
}
a {
  color: #00e0d0;
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  color: #46a3cc;
}
.bottom-sidebar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.button {
  display: inline-block;
  width: 118px;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
  color: #00e0d0;
  font-size: 16px;
  line-height: 38px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #00e0d0;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  color: #46a3cc;
  border-color: #46a3cc;
}
.button--center {
  margin: 0 auto;
}
.button--middle {
  width: 140px;
}
.button--subscribe {
  display: block;
  width: 70px;
  line-height: 44px;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url('../img/icon-send.svg');
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.button--subscribe:hover {
  background-color: #00e0d0;
}
@media only screen and (max-width: 960px) {
  .button--subscribe {
    border-radius: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .button {
    margin: 0 auto;
  }
  .button--subscribe {
    margin: 0;
  }
}
.clients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.clients__item {
  margin-bottom: 40px;
  width: 160px;
  height: 60px;
}
.clients__item:nth-last-child(2) {
  margin-bottom: 0;
}
.clients__item:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
  .clients__item {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 0 10px;
  }
  .clients__item:nth-last-child(2) {
    margin-bottom: 40px;
  }
  .clients__item:last-child {
    margin-bottom: 40px;
  }
}
.column {
  display: flex;
  flex-direction: column;
}
.column--1 {
  width: 100%;
}
.column--12 {
  width: 460px;
}
.column--13 {
  width: 290px;
}
.column--14 {
  width: 220px;
}
.column--25 {
  width: 380px;
}
.column--35 {
  width: 540px;
}
@media only screen and (max-width: 960px) {
  .column--12 {
    width: 48%;
  }
  .column--13 {
    width: 31%;
  }
  .column--14 {
    width: 48%;
  }
  .column--25 {
    width: 38%;
  }
  .column--35 {
    width: 58%;
  }
}
@media only screen and (max-width: 768px) {
  .column--12 {
    width: 100%;
  }
  .column--13 {
    width: 100%;
  }
  .column--14 {
    width: 100%;
  }
  .column--25 {
    width: 100%;
  }
  .column--35 {
    width: 100%;
  }
}
.controls {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 55px;
  justify-content: space-between;
}
.controls__item {
  display: block;
  padding: 0;
  height: 10px;
  width: 10px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}
.controls__item:hover {
  background-color: #00e0d0;
  border-color: #00e0d0;
}
.controls .active {
  background-color: #00e0d0;
  border-color: #00e0d0;
  cursor: default;
}
.copy-right {
  line-height: 14px;
}
@media only screen and (max-width: 768px) {
  .copy-right {
    margin-top: 30px;
  }
}
.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.features__heading {
  margin-top: 48px;
}
.features__item {
  position: relative;
  width: 33.33%;
  padding: 115px 34px 34px 34px;
  text-align: center;
  border-color: #ebebeb;
}
.features__item:nth-child(1) {
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
}
.features__item:nth-child(2) {
  border-bottom-style: solid;
  border-right-style: solid;
  border-width: 1px;
}
.features__item:nth-child(3) {
  border-bottom-style: solid;
  border-width: 1px;
}
.features__item:nth-child(4) {
  border-right-style: solid;
  border-width: 1px;
}
.features__item:nth-child(5) {
  border-right-style: solid;
  border-width: 1px;
}
.features__item::before {
  content: '';
  display: block;
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  margin: auto;
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
.features__item--icon-screen::before {
  background-image: url('../img/icon-features-screen.svg');
}
.features__item--icon-brush::before {
  background-image: url('../img/icon-features-brush.svg');
}
.features__item--icon-phone::before {
  background-image: url('../img/icon-features-phone.svg');
}
.features__item--icon-pie-chart::before {
  background-image: url('../img/icon-features-pie-chart.svg');
}
.features__item--icon-game-console::before {
  background-image: url('../img/icon-features-game-console.svg');
}
.features__item--icon-heart::before {
  background-image: url('../img/icon-features-heart.svg');
}
.features__title,
.features__description {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 900;
}
.features__title {
  text-transform: uppercase;
}
.features__description {
  margin-top: 17px;
  font-weight: 300;
}
@media only screen and (max-width: 960px) {
  .features__title {
    font-size: 12px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .features__heading {
    margin-top: 0;
  }
  .features .features__item {
    width: 100%;
    border-bottom-style: solid;
    border-right-style: none;
  }
  .features .features__item:last-child {
    border: none;
  }
}
.filter {
  position: relative;
}
.filter::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #09052f, #311d5e);
  opacity: 0.85;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer__bottom-sidebar {
  margin-top: 65px;
}
@media only screen and (max-width: 768px) {
  .footer {
    flex-flow: column;
  }
  .footer__bottom-sidebar {
    margin: 0;
  }
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(65, 61, 75, 0.5);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(65, 61, 75, 0.5);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(65, 61, 75, 0.5);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(65, 61, 75, 0.5);
}
.form {
  width: 100%;
}
.form--subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.form__input {
  margin-bottom: 20px;
  padding: 12px 20px;
  width: 100%;
  border: 1px solid #ebebeb;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  transition: border 0.3s;
}
.form__input--error {
  border-color: #ff8282;
}
.form__input:hover {
  border-color: #00e0d0;
}
.form__input:focus {
  border-color: #00e0d0;
}
.form__input--subscribe {
  margin-bottom: 0;
  background-color: transparent;
  width: 210px;
  color: #ebebeb;
}
.form__input--subscribe::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.75);
}
.form__input--subscribe::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.75);
}
.form__input--subscribe:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.75);
}
.form__input--subscribe:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.75);
}
.form__textarea {
  margin-bottom: 18px;
  padding: 12px 20px;
  width: 100%;
  height: 198px;
  border: 1px solid #ebebeb;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  transition: border 0.3s;
  resize: none;
  overflow: auto;
}
.form__textarea--error {
  border-color: #ff8282;
}
.form__textarea:hover {
  border-color: #00e0d0;
}
.form__textarea:focus {
  border-color: #00e0d0;
}
@media only screen and (max-width: 768px) {
  .form__input--subscribe {
    width: 88%;
  }
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.gallery__wrapper {
  width: 16.66%;
}
.gallery__img {
  width: 16.66%;
}
.gallery__img img {
  height: 100%;
}
.gallery__ilightbox {
  position: relative;
  display: block;
  overflow: hidden;
}
.gallery__ilightbox::before {
  content: '';
  position: absolute;
  bottom: -200px;
  left: 0;
  display: block;
  width: 1000px;
  height: 200px;
  background-color: #00e0d0;
  opacity: 0.3;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: all 0.6s;
}
.gallery__ilightbox::after {
  content: '';
  position: absolute;
  top: -200px;
  right: 0;
  display: block;
  width: 1000px;
  height: 200px;
  background-color: #46a3cc;
  opacity: 0.5;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: all 0.6s;
}
.gallery__ilightbox:hover::before {
  bottom: 200px;
  left: -200px;
}
.gallery__ilightbox:hover::after {
  top: 200px;
  right: -200px;
}
@media only screen and (max-width: 960px) {
  .gallery__img {
    width: 25%;
  }
  .gallery__ilightbox::before,
  .gallery__ilightbox::after {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .gallery__img {
    width: 50%;
  }
}
.hamburger {
  display: none;
  background-color: transparent;
  border-width: 0;
  width: 30px;
  height: 30px;
  position: relative;
  margin: 20px auto;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.hamburger:focus {
  outline: none;
}
.hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
.hamburger span:nth-child(2) {
  top: 13px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
.hamburger span:nth-child(3) {
  top: 26px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
.hamburger--open {
  opacity: 0.5;
}
.hamburger--open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -2px;
  left: 0;
  width: 42px;
}
.hamburger--open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.hamburger--open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 28px;
  left: 0px;
  width: 42px;
}
@media only screen and (max-width: 768px) {
  .hamburger--enable {
    display: block;
  }
}
.heading {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  color: #413d4b;
}
.heading--section {
  color: #ffffff;
}
.heading--center {
  text-align: center;
}
.heading--2 {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.heading--nomargin {
  margin: 0;
}
.heading--sub {
  position: relative;
  margin-top: -16px;
  padding-bottom: 14px;
  color: rgba(65, 61, 75, 0.75);
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}
.heading--sub::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  width: 50px;
  height: 1px;
  background-color: rgba(65, 61, 75, 0.75);
}
.heading--sub-section {
  position: relative;
  margin-top: -16px;
  padding-bottom: 14px;
  color: #ffffff;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}
.heading--sub-section::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  width: 50px;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.2;
}
@media only screen and (max-width: 768px) {
  .heading {
    text-align: center;
  }
}
.logo {
  fill: #00e0d0;
  stroke: #00e0d0;
  cursor: pointer;
  stroke-width: 20.739;
  transition: all 0.3s;
}
.logo:hover {
  fill: #46a3cc;
  stroke: #46a3cc;
}
.menu {
  position: fixed;
  left: 0;
  top: 15px;
  width: 100%;
  z-index: 9999;
  transition: all 0.3s;
}
.menu--fixed {
  top: 0;
  padding: 5px 0;
  background-color: #09052f;
}
.menu--fixed .logo {
  height: 40px;
}
.menu__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
  width: 960px;
}
.menu--footer {
  position: static;
  width: 75%;
}
.menu ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.menu li {
  display: block;
}
.menu__item {
  display: block;
  padding: 13px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 13px;
  font-weight: 900;
  text-transform: uppercase;
  transition: color 0.3s;
}
.menu__item--current {
  color: #00e0d0;
  cursor: default;
}
.menu__item--last {
  padding-right: 0;
}
.menu__item--first {
  padding-left: 0;
}
.menu__item:hover {
  color: #00e0d0;
}
.menu__item--footer {
  font-size: 14px;
  font-weight: normal;
}
@media only screen and (max-width: 960px) {
  .menu__wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .menu {
    position: initial;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .menu--fixed {
    padding: initial;
    background-color: transparent;
  }
  .menu--fixed .logo {
    height: 50px;
  }
  .menu__wrapper {
    flex-direction: column;
    padding-top: 10px;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu__item {
    padding: 10px;
    text-align: center;
  }
  .menu__main {
    height: 231px;
    overflow: hidden;
    transition: all 0.25s;
  }
  .menu__main--closed {
    height: 0;
  }
}
.page-footer {
  background-color: #09052f;
  background-image: url('../img/footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: #ffffff;
}
.page-header {
  background-color: #09052f;
  background-image: url('../img/heading.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: #ffffff;
}
.page-header__inner {
  position: relative;
  margin: 0 auto;
  padding: 15px 10px 70px 10px;
  width: 960px;
}
@media only screen and (max-width: 960px) {
  .page-header__inner {
    width: 100%;
  }
}
.page-heading {
  text-align: center;
  color: #ffffff;
}
.page-heading__page-header {
  padding: 210px 15% 0 15%;
}
.page-heading__button {
  margin-top: 45px;
}
.page-heading__controls {
  margin-top: 125px;
}
.page-heading__heading {
  position: relative;
  margin: 0;
  padding-bottom: 25px;
  margin-bottom: 25px;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 900;
}
.page-heading__heading::after {
  content: '';
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 1px;
  width: 50px;
  background-color: #00e0d0;
}
.page-heading__description {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
@media only screen and (max-width: 960px) {
  .page-heading__page-header {
    padding: 80px 5% 0 5%;
  }
  .page-heading__controls {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .page-heading__page-header {
    padding: 0 5% 0 5%;
  }
}
.profiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.profiles__heading {
  margin-top: 47px;
}
.profiles__item {
  position: relative;
  width: 220px;
  overflow: hidden;
}
.profiles__img {
  position: relative;
  display: block;
  height: 230px;
  width: 220px;
  background-color: #ffffff;
  transition: all 0.3s;
}
.profiles__social {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 120px;
  opacity: 0;
  transition: all 0.3s;
}
.profiles__social svg {
  fill: #00e0d0;
  transition: fill 0.3s;
}
.profiles__social svg:hover {
  fill: #46a3cc;
}
.profiles__item:hover .profiles__social {
  opacity: 1;
  top: 100px;
}
.profiles__item:hover .profiles__img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}
.profiles__description {
  padding: 18px 6px 20px 6px;
  width: 220px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #9f9f9f;
}
.profiles__name {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 900;
}
.profiles__position {
  font-size: 13px;
  line-height: 22px;
  font-weight: 300;
  opacity: 0.7;
}
@media only screen and (max-width: 960px) {
  .profiles {
    justify-content: space-around;
  }
  .profiles__item {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .profiles__item {
    width: 100%;
  }
  .profiles__img,
  .profiles__description {
    margin: 0 auto;
  }
  .profiles__social {
    position: initial;
    display: flex;
    margin-top: 10px;
    width: 160px;
    opacity: 1;
  }
  .profiles__social svg {
    fill: #ffffff;
    width: 16px;
    height: 24px;
  }
  .profiles__item:hover .profiles__img {
    -webkit-filter: none;
            filter: none;
  }
}
.section {
  background-color: #09052f;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.section--1 {
  background-image: url('../img/section.jpg');
}
.section--2 {
  background-image: url('../img/section2.jpg');
}
.section--3 {
  background-image: url('../img/section2.jpg');
}
.testimonials {
  padding: 0 80px;
  text-align: center;
  color: #ffffff;
}
.testimonials__text {
  position: relative;
  margin: 0;
  padding-top: 70px;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  opacity: 0.85;
}
.testimonials__text::before {
  content: '“';
  position: absolute;
  top: 32px;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 100px;
  line-height: 22px;
}
.testimonials__name {
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 900;
  text-transform: uppercase;
}
.testimonials__sub-name {
  margin-top: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 22px;
  font-weight: 300;
  text-transform: uppercase;
}
.testimonials__controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 0 auto;
  width: 320px;
}
.testimonials__nav {
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
  margin: auto;
  width: 368px;
}
.testimonials__arrow {
  content: '';
  display: block;
  position: absolute;
  width: 11px;
  height: 21px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-width: 0;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.85;
}
.testimonials__arrow--left {
  left: 0;
  background-image: url('../img/left-chevron.svg');
}
.testimonials__arrow--right {
  right: 0;
  background-image: url('../img/right-chevron.svg');
}
.testimonials__arrow:focus {
  outline: none;
}
.testimonials__dot {
  height: 45px;
  width: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.testimonials__dot:nth-child(1) {
  background-image: url(../img/testimonials1x2.jpg);
}
.testimonials__dot:nth-child(2) {
  background-image: url(../img/testimonials2x2.jpg);
}
.testimonials__dot:nth-child(3) {
  background-image: url(../img/testimonials3x2.jpg);
}
.testimonials__dot:nth-child(4) {
  background-image: url(../img/testimonials4x2.jpg);
}
.testimonials__dot:nth-child(5) {
  background-image: url(../img/testimonials5x2.jpg);
}
.testimonials__dot:focus {
  outline: none;
}
.testimonials__dot.active {
  height: 70px;
  width: 70px;
  cursor: default;
}
@media only screen and (max-width: 960px) {
  .testimonials {
    padding: 0 40px;
    width: 100%;
  }
  .testimonials__text {
    padding-top: 50px;
  }
  .testimonials__name {
    margin-top: 30px;
  }
  .testimonials__controls {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .testimonials {
    padding: 0 10px;
  }
  .testimonials__text {
    padding-top: 40px;
  }
  .testimonials__name {
    margin-top: 20px;
  }
  .testimonials__nav {
    width: 300px;
  }
  .testimonials__controls {
    margin-top: 20px;
    width: 260px;
  }
  .testimonials__dot {
    height: 30px;
    width: 30px;
  }
}
.text {
  margin: 0 0 25px 0;
}
.text__profiles {
  margin-top: 65px;
}
.text--section {
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
}
@media only screen and (max-width: 960px) {
  .text__profiles {
    margin-top: 0px;
  }
}
.video {
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  width: 960px;
  height: 550px;
}
.video__meta {
  position: absolute;
  margin: auto;
  height: 150px;
  width: 170px;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  transition: opacity 0.3s;
}
.video__meta:hover {
  opacity: 0.6;
}
.video__title {
  color: #ffffff;
  font: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 900;
  text-transform: uppercase;
}
.video__play-btn {
  position: relative;
  display: block;
  margin: 0 auto 34px auto;
  width: 100px;
  height: 100px;
  background-image: url('../img/play-button.svg');
}
@media only screen and (max-width: 960px) {
  .video {
    width: 100%;
    height: 440px;
  }
}
.widget {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
}
.widget__title {
  margin: 0;
  margin-bottom: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 900;
  text-transform: uppercase;
}
.widget__text {
  margin: 0;
}
.widget-logo {
  margin-bottom: 21px;
}
.widget-contacts {
  margin-left: 30px;
}
.widget-contacts__location {
  position: relative;
  display: block;
  margin: 0;
  color: #ffffff;
}
.widget-contacts__location:hover {
  color: #00e0d0;
}
.widget-contacts__location::before {
  content: '';
  position: absolute;
  top: 2px;
  left: -30px;
  display: block;
  width: 14px;
  height: 19px;
  background-image: url('../img/icon-location.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.widget-contacts__phone {
  position: relative;
  display: block;
  margin: 0;
  margin-top: 18px;
  color: #ffffff;
}
.widget-contacts__phone:hover {
  color: #00e0d0;
}
.widget-contacts__phone::before {
  content: '';
  position: absolute;
  top: 2px;
  left: -30px;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('../img/icon-phone-call.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.widget-socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
  width: 100%;
}
.widget-socials__item {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  fill: #ffffff;
  transition: all 0.3s;
}
.widget-socials__item:hover {
  border-color: #00e0d0;
  background-color: #00e0d0;
}
.widget-socials__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .widget {
    margin-bottom: 30px;
  }
  .widget-logo {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .widget__title {
    margin-bottom: 15px;
  }
  .widget-socials {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 70px 10px;
  width: 960px;
}
@media only screen and (max-width: 960px) {
  .wrapper {
    width: 100%;
    padding: 50px 10px;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 30px 10px;
  }
}
